/*IMPOSTAZIONI BASE*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    background-color: #ffffff;
    text-align: left;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
}

/*IMPOSTAZIONI TITOLI E TESTI*/

.introdaction {
    margin-top: 90px;
    margin-bottom: 106px;
}

.introdaction p {
    max-width: 65ch; /*imposta la lunghezza ideale del paragrafo a 65 caratteri per una maggiore leggibilità*/
    font-size: 18px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h1 {
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}

.progect{
    text-align: center;
    margin-block-start: 50px;
    margin-block-end: 106px;
}

H2{
    font-size: 16px;
}

p{
    max-width: 65ch;
    font-size: 18px;
    margin-block-start: 40px;
    margin-block-end: 40px;
}

.text{
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h6{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #484C6D;
}

/*BARRA DI NAVIGAZIONE DESKTOP*/
.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 1000; /*per averla sempre in primo piano*/
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    list-style: none; /*toglie la lista puntata*/
    gap: 30px;
}

.nav-links a {
    text-decoration: none; /*toglie la sottolineatura*/
    color: #d9d9d9;
    font-family: "Mochiy Pop One", sans-serif;
}
.nav-links a:hover{
    color: #484C6D;
}

.nav-links a.active{
    color: #484C6D;
    border-bottom: #484C6D 2px solid;
    padding-bottom: 2px;
}


.menu-toggle, .hamburger {
    display: none; /*nasconde il checkbox e l'hamburger menu nella versione desktop */
}

/*IMMAGINI DELLE SEZIONI DEL PORTFOLIO*/
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    text-decoration: none;
    color: white;
    position: relative;
    width: 31%;
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.img-front { /*sarà l'immagine di partenza*/
    width: 100%;
    display: block;
}

.img-back { /*sarà l'immagine che viene mostrata successivamente, infatti inizialmente è ad opacità 0*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0; 
}

.image-wrapper span { /*viene utilizzato lo span per far salire il testo in primo piano rispetto le immagini*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 15px;
    pointer-events: none; /*Il testo non blocca il click*/
}

.card:hover .img-front { opacity: 0; } /*viene nascosta la prima immagine e viene mostrata la seconda*/
.card:hover .img-back { opacity: 1; }

/*VIDEO E FRAME ANIMAZIONE 3D*/
video{
    width: 100%;
    height: auto;
}

.gallery-video {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.frame-video{
    width: 32%;
    height: auto;
}

/*GALLERY ILLUSTRAZIONE*/
.inktober-draws{
    margin-top: 40px;
    margin-bottom: 40px;
}
.illustration-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.illustration-gallery-item{
    text-align: center;
    width: 23%;
}

.illustration-gallery-item img{
    width: 100%;
    cursor: pointer;
}

.illustration-gallery-item a{
    text-decoration: none;
    color: black;
}

.illustration-gallery-item p{
    margin-block-start: 20px;
    margin-block-end: 0px;
}

/*GALLERY FOTOGRAFIA*/
.foto-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.foto-gallery img{
    width: 23%;
}

/*IMMAGINE AFFIANCATA A TESTO*/
.side-element{
    justify-content: center;
    display: flex;
    gap: 35px;
}

.side-element img{
    width: 31%;
    height: 31%;
}

.side-text p{
    margin-block-start: 0px;
    margin-bottom: 1em;
}

.contact-icon{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 15px;
}

.contact-icon p{
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: #484C6D;
}

/*GALLERY ICONE*/
.icon-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    background-color: #484C6D;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 100px;
}

.icon-gallery img, .contact-icon img{
    width: 60px;
    height: auto;
}

/*RESPONSIVE (VERSIONE MOBILE)*/
@media (max-width: 750px) {
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 100;
    }

    .menu-close { display: none;}

    /*MENU CHE APPARE QUANDO VIENE CLICCATA L'ICONA*/
    .nav-links {
        display: none; /*Nascosto di base*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 85px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #484C6D;
        padding: 0;
        margin: 0;
        overflow: hidden; /*la pagina sotto non può essere scrollata quando il menu è aperto e questo evita degli errori di spazi nel riquadro*/
    }

    .nav-links a:hover{
     color: #484C6D;
    }

    .nav-links a.active{
     color: white;
     border-bottom: white 2px solid;
     padding-bottom: 2px;
    }

    /*logica del checkbox*/
    .menu-toggle:checked ~ .nav-links {
        display: flex;
    }

    .menu-toggle:checked ~ .hamburger .menu-open { display: none; }
    .menu-toggle:checked ~ .hamburger .menu-close { display: block; }

    .card{
      width: 100%;  
    }

    .progect{
       text-align: center;
       margin-block-start: 90px;
       margin-block-end: 60px;
    }

    .gallery,.illustration-gallery,.foto-gallery, .side-element {
        flex-direction: column;
        align-items: center;
    }

    .gallery-video {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .illustration-gallery-item{
        text-align: center;
        width: 100%;
    }

    .foto-gallery img{
        width: 100%;
    }
    
    .frame-video{
       width: 100%;
       height: auto;
    }

    .icon-gallery{
        margin-top: 50px;
        gap: 15px;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .side-element img{
        width: 100%;
    }
    .contact-icon img{
        width: 30px;
    }
    
    .contact-icon p{
        font-size: 16px;
    }

    .container{
        padding-left: 15%;
        padding-right: 15%;
    }

    h1{
        font-size: 22px;
    }
}